body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Pusatkan elemen di dalam container */
    display: flex; /* Gunakan flexbox */
    flex-direction: column; /* Susun elemen secara vertikal */
    align-items: center; /* Pusatkan elemen ke tengah */
}

h1 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#borrowedBooks {
    margin-bottom: 20px;
}

button.reset {
    background-color: #f44336;
    color: #fff;
}

button.reset:hover {
    background-color: #d32f2f;
}

#qrcode {
    margin: 20px auto; /* Pusatkan elemen QR code di dalam container */
}

/* Add any additional styling as needed */

